.el-default {
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-cursor: move;
}

.el-hover {
    -fx-border-color: red;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-cursor: move;
}

.el-title {
    -fx-border-color: green;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: solid;
}

.nested-circle:hover {
    -fx-cursor: move;
}

.rounded-label {
    -fx-padding: 5px;
    -fx-background-radius: 10px;
}

.debug {
    -fx-background-color: red;
}
